<div class="modal-content custom-modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <svg width="32" height="32" stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 21.0001H21M4 18.0001H20M6 18.0001V13.0001M10 18.0001V13.0001M14 18.0001V13.0001M18 18.0001V13.0001M12 7.00695L12.0074 7.00022M21 10.0001L14.126 3.88986C13.3737 3.2212 12.9976 2.88688 12.5732 2.75991C12.1992 2.64806 11.8008 2.64806 11.4268 2.75991C11.0024 2.88688 10.6263 3.2212 9.87404 3.88986L3 10.0001H21Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>

        Modifier banque
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div>
          <div class="row">
            <div>
              <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                </div>
              </div>
              <div class="card-body">
                <form>
                 
                  <div class="form-group">
                    <label class="form-label" for="libelle">libelle <span
                        class="obl">*</span></label>
                    <input type="text" class="form-control" id="libelle"
                      placeholder="libelle" name="libelle" [(ngModel)]="banque.libelle">
                    <div id="libelle-error" class="error-message"></div>
                  </div>
                  
        
  
                  <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6" (click)="updatebanque()">
                      <button class="btn btnTermine" *ngIf="!preload">
                        <svg class="icon-24" width="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M17.9028 8.85107L13.4596 12.4641C12.6201 13.1301 11.4389 13.1301 10.5994 12.4641L6.11865 8.85107" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z"
                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      Modifier
                    </button>
                    <button class="btn btnTermine" *ngIf="preload">
                      <img src="../../../assets/images/preload.gif" height="25px">
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
