<div class="modal-content custom-modal-content">
  <div class="modal-header">
    <h4 class="modal-title">
      <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18 2H6v2h12V2zM4 6h16v2H4V6zm-2 4h20v12H2V10zm18 10v-8H4v8h16z" fill="currentColor"></path> </g></svg>

      Modifier Abonnement
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div>
        <div class="row">
          <div>
            <div class="card-header d-flex justify-content-between">
              <div class="header-title">
              </div>
            </div>
            <div class="card-body">
              <form>
               
                <div class="form-group">
                  <label class="form-label" for="libType">libelle <span
                      class="obl">*</span></label>
                  <input type="text" class="form-control" id="libType"
                    placeholder="libType" name="libType" [(ngModel)]="typeAbonnementClub.libType">
                  <div id="libType-error" class="error-message"></div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="nbMois">nombre de mois <span
                      class="obl">*</span></label>
                  <input type="text" class="form-control" id="nbMois"
                    placeholder="nbMois" name="nbMois" [(ngModel)]="typeAbonnementClub.nbMois">
                  <div id="nbMois-error" class="error-message"></div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="nbJours">nombre de jours<span
                      class="obl">*</span></label>
                  <input type="text" class="form-control" id="nbJours"
                    placeholder="nbJours" name="nbJours" [(ngModel)]="typeAbonnementClub.nbJours">
                  <div id="nbJours-error" class="error-message"></div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="forfait">Forfait <span
                      class="obl">*</span></label>
                  <input type="text" class="form-control" id="forfait"
                    placeholder="forfait" name="forfait" [(ngModel)]="typeAbonnementClub.forfait">
                  <div id="forfait-error" class="error-message"></div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="remise">remise <span
                      class="obl">*</span></label>
                  <input type="text" class="form-control" id="remise"
                    placeholder="remise" name="remise" [(ngModel)]="typeAbonnementClub.remise">
                  <div id="remise-error" class="error-message"></div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="categorieAbonnement">Catégorie <span class="obl">*</span></label>
                  <div class="select-wrapper">
                    <select class="form-control" id="categorieAbonnement" name="categorieAbonnement" [(ngModel)]="typeAbonnementClub.categorieAbonnement.idCategorie">
                      <option value="" disabled selected hidden>Choisie catégorie</option>
                      <option *ngFor="let categorie of categories" [value]="categorie.idCategorie">{{ categorie.designation }}</option>
                    </select>
                    <svg class="select-icon icon-16" width="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.869 16.6308C10.811 16.5743 10.563 16.3609 10.359 16.1622C9.076 14.9971 6.976 11.9576 6.335 10.3668C6.232 10.1252 6.014 9.51437 6 9.18802C6 8.8753 6.072 8.5772 6.218 8.29274C6.422 7.93814 6.743 7.65368 7.122 7.49781C7.385 7.39747 8.172 7.2416 8.186 7.2416C9.047 7.08573 10.446 7 11.992 7C13.465 7 14.807 7.08573 15.681 7.21335C15.695 7.22796 16.673 7.38383 17.008 7.55431C17.62 7.86702 18 8.47784 18 9.13151V9.18802C17.985 9.61374 17.605 10.509 17.591 10.509C16.949 12.0141 14.952 14.9834 13.625 16.1768C13.625 16.1768 13.284 16.5129 13.071 16.659C12.765 16.887 12.386 17 12.007 17C11.584 17 11.19 16.8724 10.869 16.6308Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div id="categorie-error" class="error-message"></div>
                </div>
                
      

                <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-6" (click)="updatetypeAbonnementClub()">
                    <button class="btn btnTermine" *ngIf="!preload">
                      <svg class="icon-24" width="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M17.9028 8.85107L13.4596 12.4641C12.6201 13.1301 11.4389 13.1301 10.5994 12.4641L6.11865 8.85107" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Modifier
                  </button>
                  <button class="btn btnTermine" *ngIf="preload">
                    <img src="../../../assets/images/preload.gif" height="25px">
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>