.light .custom-modal-content {
    background-color: #fff;
    color: #000;
  }
  
  /* Styles pour le mode sombre */
  .dark .custom-modal-content {
    background-color: #333;
    color: #fff;
  }
  p{
    color: #8a92a6;
  }
  .t{
    color: #8a92a6;
  }
  .form-control.dark {
    background-color: #222738 !important;
    color: white; /* Couleur du texte */
  }
  
  .form-control.dark::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte d'espacement */
  }
  
  .form-control.dark + .input-group-text svg {
    stroke: white; /* Couleur du trait du SVG */
  }
  .btn{
    height: 36px;
    width: 79px;
  }
  