p{
  color: #8a92a6;
}
.mb-0{
  color: #8a92a6;
}



table.table-dark {
  background-color: #222738 !important;
  color: hsl(0, 0%, 100%);
}

table.table-dark th, table.table-dark td {
  border-color: #444444;
  background-color: #222738 !important;

}
.table-striped.table-dark > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #222738 !important;
}

.table-striped.table-dark > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: #222738 !important;
  color: var(--bs-table-striped-color);
}



.dark .progress-bar.bg-primary {
  background-color: #bb86fc;
}

.dark .progress-bar.bg-success {
  background-color: #03dac5;
}

.dark .bg-soft-primary {
  background-color: rgba(98, 0, 238, 0.1);
}

.dark .bg-soft-success {
  background-color: rgba(3, 218, 198, 0.1);
}

.dark h6 {
  color: #ffffff;
}
.form-control.dark {
  background-color: #222738 !important;
  color: white; /* Couleur du texte */
}

.form-control.dark::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Couleur du texte d'espacement */
}

.form-control.dark + .input-group-text svg {
  stroke: white; /* Couleur du trait du SVG */
}
/* Personnalisez les styles pour le modal */
.modal-xl {
  width: 97%;
  max-width: none; /* Pour enlever la largeur maximale */
}

/* Pour rendre le modal responsive */
@media (max-width: 1200px) {
  .modal-xl {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .modal-xl {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .modal-xl {
    width: 85%;
  }
}
.banner {
  position: relative;
  width: 100%;
  height: 215px; /* ou toute autre hauteur que vous souhaitez */
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s; /* Transition pour l'effet de flou */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0; /* Rendre le bouton invisible par défaut */
  transition: opacity 0.3s; /* Transition pour l'apparition du bouton */
}

.banner:hover .banner-img {
  filter: blur(5px); /* Appliquer un flou lorsque la souris passe dessus */
}

.banner:hover .banner-content {
  opacity: 1; /* Rendre le bouton visible lorsque la souris passe dessus */
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 2s infinite ease-in-out;
}



.circle2 {
  animation-delay: 1s;
}

@keyframes rotate {
  0% {
    transform: scale(0) translateX(0) rotate(0deg);
  }
  50% {
    transform: scale(1) translateX(100px) rotate(180deg);
  }
  100% {
    transform: scale(0) translateX(0) rotate(360deg);
  }
}
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
.card-header{
  background-color: transparent !important;
}

.imgBanner {
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid #eee;
  cursor: pointer;
  height: 46.79px;
}
.flag {
  width: 22px !important;
  height: 22px !important;
  margin-top: -2px;
  margin-right: 8px;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
}
.countries-list {
  position: absolute;
  z-index: 1000; /* Assure que la liste est au-dessus des autres éléments */
  background-color: #ffff; /* Fond blanc pour meilleure visibilité */
  border: 1px solid #ccc; /* Bordure optionnelle pour démarcation */
  max-height: 300px; /* Hauteur maximale pour la liste déroulante */
  overflow-y: auto; /* Scroll si la liste est trop longue */
  width: 95%; 
}
.scrollable-list {
  position: relative;
}

.form-group {
  position: relative; /* Assure que les éléments du formulaire restent dans le flux du document */
}
.btndrop{
  border: solid 1px;
  border-color: #dee2e6;
}
.pays{
  cursor: pointer;
}



.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  top: -7%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input-like {
 
}
.btn.btndrop {
  margin-left: .5rem !important;
  align-items: center;
}

.main-content{
  overflow-x: hidden !important;
}
.obl{
  color: #8b0000;
}
.upload-icone {

  cursor: pointer !important;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white !important;
  z-index: 10; 
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.searchPays {
  width: 100%;
} 

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.plus{
  color:#6c757d
}

.btnPM{
  border: solid 1px;
  border-color: #dee2e6;
  margin-left: .5rem;
  margin-right: .5rem;

  align-items: center;
}

.btnTermine{
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 400;
  height: auto !important;
  background: #198754;
  border-color: #198754;
  color: #fff;
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;  }
  .url{
    color: #198754;
  }

.google-map-container {
width: 100%;
position: relative;
overflow: hidden; /* Ensures the map doesn't overflow its container */
}

.google-map {
width: 100%;
height: 100%; /* The map fills the entire container */
}
.error {
border: 1px solid red;
background-color: #ffe6e6; /* Ou une autre couleur de fond rouge */
}
.icon-padel{
  color: rgb(13 202 240) !important; 
}
.icon-football{
  color: rgb(25 135 84)!important; 
}
.icon-volley{
  color: rgb(192 50 33);
}
.icon-basket{
  color: #f16a1b;
}
.icon-tennis{
  color:#f1d81b
}
.icon-ping{
  color: #3b8aff;
}
.icon-handball{
  color: #a1590c !important;
}





    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }
    
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      animation: rotate 2s infinite ease-in-out;
    }
    
    
    
    .circle2 {
      animation-delay: 1s;
    }
    
    @keyframes rotate {
      0% {
        transform: scale(0) translateX(0) rotate(0deg);
      }
      50% {
        transform: scale(1) translateX(100px) rotate(180deg);
      }
      100% {
        transform: scale(0) translateX(0) rotate(360deg);
      }
    }
    .card-header{
      background-color: transparent !important;
    }
    .card-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem; /* Adjust gap as needed */
    }
    
    .header-title {
      flex: 1;
    }
    
    .search-input {
      flex: 2;
      max-width: 400px; /* Ajustez la largeur maximale au besoin */
      margin: 0 auto;
  }
    
    .btn {
      flex-shrink: 0;
    }
    
    @media (max-width: 768px) {
      .search-input {
        order: 3;
        flex: 1 1 100%;
      }
      .header-title, .btn {
        order: 1;
        flex: 1 1 100%;
        text-align: center;
      }
    }
    .list-user-action {
      display: flex;
      align-items: center;
      gap: 10px; /* Adjust gap size as needed */
    }
    
    .table-striped>tbody>tr:nth-of-type(even)>* {
      --bs-table-accent-bg: #fff !important;
  }

  .bg-soft-primary{
      background-color: #fff0c1 !important;
  } 
  .filter{
    stroke: black !important;
    color: black !important;
  }
  .admin{
    background-color: rgb(13 202 240) !important; 
  }
  .agent{
    background-color:rgb(25 135 84)!important; 
  }
  .coach{
    background-color:#575f66;
  }
  .membre{
    background-color:#f16a1b;
  }
  .icon-padel{
    color: rgb(13 202 240) !important; 
  }
  .icon-football{
    color: rgb(25 135 84)!important; 
  }
  .icon-volley{
    color: rgb(192 50 33);
  }
  .icon-basket{
    color: #f16a1b;
  }
  .icon-tennis{
    color:#f1d81b
  }
  .icon-ping{
    color: #3b8aff;
  }
  .icon-handball{
    color: #a1590c !important;
  }
  .icon-free{
    color: #1671c1;
  }
  .icon-silver{
    color: #575f66;
  }
  .icon-gold{
    color: #a4801c;
  }
  .bg-free {
    background-color: #1671c1;
    color: white;
}

.bg-silver {
    background-color: #575f66;
    color: white;
}

.bg-gold {
    background-color: #a4801c;
    color: white;
}
.table-responsive{
  max-height: 400px !important; /* Adjust this value as needed */

  overflow-y: auto !important;
}
.empty-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Same height as the container */
}

.empty-table img {
  max-width: 100%;
  height: 80%;
}
.badge-container {
  position: relative;
  display: inline-block;
  margin-left: 8px; /* Adjust the space as needed */
}

.badge-container .bdg {
  border-radius: 50%;
  font-size: 0.80em;
  min-width: 1.5em;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px; /* Adjust the position as needed */
  right: -10px; /* Adjust the position as needed */
  color: #ffffff;
}
.no-users {
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
}